---

---

<footer class="bg-gradient-to-l from-background to-specialbg shadow-lg pt-6">
    <ul class="flex justify-evenly items-center space-x-2">
        <li class="">
            <a href="/"><img src="/images/logo.png" alt="Logo" class="w-16 h-16 rounded-xl mx-20"></a>
        </li>
        <li>
            <a href="/portfolio" class="link">Portfolio</a>
        </li>
        <li>
            <a href="/pricing" class="link">Pricing</a>
        </li>
        <li>
            <a href="/floral-arrangements" class="link">Floral Arrangements</a>
        </li>
        <li>
            <a href="/about" class="link">About Me</a>
        </li>
        <li>
            <a href="/booking" class="link button mx-10">Book Your Session</a>
        </li>
    </ul>
    <div class="flex justify-center h-8 mt-6 bg-white border-t-2 border-border">
        <p>&copy All rights reserved. Pualani Creative</p>
    </div>
</footer>

<style>
    .link {
        @apply px-2 text-xl text-text hover:text-hover transition-colors;
    }

    .button {
        @apply p-2 border rounded-xl bg-button text-buttontext border-border hover:no-underline hover:text-buttontext hover:bg-hover transition-colors;
    }
</style>