---

---

<nav class="bg-gradient-to-r from-background to-specialbg shadow-lg">
    <div class="relative flex justify-between items-center h-24">
        <a href="/" class="text-4xl text-heading hover:text-hover ml-10 font-">Pualani Creative</a>

        <!-- Desktop menu -->
        <div class="desktop-view mt-2">
            <a href="/portfolio" class="link underline-anim">Portfolio</a>
            <a href="/pricing" class="link underline-anim">Pricing</a>
            <a href="/floral-arrangements" class="link underline-anim">Floral Arrangements</a>
            <a href="/about" class="link underline-anim">About Me</a>
            <a href="/booking" class="link button !mx-10">Book Your Session</a>
        </div>
        
        <!-- Mobile menu -->
        <div class="mobile-view svg flex">
            <button id= "menuButton" class="p-2 rounded-lg hover:shadow-md transition-all">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
                </svg>
            </button>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12 hidden">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>              
        </div>  
    </div>

    <hr class="border-t border-black w-full my-2">
    <div class="flex flex-col justify-center items-end">
        <a href="/portfolio" class="link underline-anim">Portfolio</a>
        <a href="/pricing" class="link underline-anim">Pricing</a>
        <a href="/floral-arrangements" class="link underline-anim">Floral Arrangements</a>
        <a href="/about" class="link underline-anim">About Me</a>
        <a href="/booking" class="link button">Book Your Session</a>
        <div id="overlay" class="fixed inset-0 bg-black bg-opacity-50 z-20 hidden transition-opacity duration-300 ease-in-out"></div>
    </div>
</nav>

<script>
    const overlay = document.getElementById('overlay');
    const menuButton = document.getElementById('menuButton');

    function menuButtonClicked() {
        overlay?.classList.remove('hidden');
    }

    menuButton?.addEventListener('click', menuButtonClicked);
</script>

<style>
    .link {
        @apply px-4 m-1 text-xl text-text hover:text-hover;
    }

    .underline-anim {
        @apply underline-offset-4 inline-block after:block after:h-[1px] after:w-0 after:bg-hover after:transition-all after:duration-300 hover:after:w-full w-fit;

    }

    .button {
        @apply p-2 border rounded-xl bg-button text-buttontext border-border hover:no-underline hover:text-buttontext hover:bg-hover transition-colors;
    }

    .svg {
        @apply mx-10 text-text hover:text-hover;
    }

    .link-column {
        @apply my-1;
    }

    @media (max-width: 1149px) {
        .desktop-view {
            display: none;
        }
    }

    @media (min-width: 1150px) {
        .mobile-view {
            display: none;
        }
    }
</style>