---
// Define your list of values
const items = ['Item 1', 'Item 2', 'Item 3', 'Item 4', "zadek"];
---

<!-- <ul>
  {items.map(bum => (
    <p>{bum}</p>
  ))}
</ul> -->
<div class="my-10">
    <div class="w-full h-auto p-8 border-2 border-text bg-background rounded-xl">
        <h1>Price: 300$</h1>
    </div>
</div>
